<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo_brush.png">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Contacto</title>
</head>
<header>
    <h1>DISEÑO <span>MULTIMEDIA</span></h1>
    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
    </ul>
    </nav>
</header>
<body>
    
</body>
</html>