<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo_brush.png">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Contacto</title>
</head>
<header>
    <h1>DISEÑO <span>MULTIMEDIA</span></h1>
    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="/templates/contacto.html">CONTACTO</a></li>
    </ul>
    </nav>
</header>
<body>
    <section  class="suscribir">
        <h3>Suscribete a nuestro boletín </h3>
        
        <form class="regi">
            <input type="text" placeholder="ingrese el Email" class="registro">
            <button >Suscribete</button>
        </form>
        </section>

    <section class="cont">
        <article class="lari">
            <div class="to">
                <h3>Contacto</h3>
            </div>
                <div>
                <form >
                    <label for="name">Nombre</label>
                       <br>
                    <input type="text" placeholder="Ingresa tu Nombre" class="nam">
                       <br>
                    <label for="email">Email</label>
                       <br>
                    <input type="text" placeholder="Ingresa tu Email" class="nam">
                       <br>
                       <label for="phone">Telefono</label>
                       <br>
                    <input type="text" placeholder="Ingresa tu Telefono"class="nam">
                       <br>
                       <label for="cellular">Celular</label>
                       <br>
                    <input type="text" placeholder="Ingresa tu Celular"class="nam">
                      <br>
                      <label for="message">Mensaje</label>
                      <br>
                    <textarea rows="10" cols="104"></textarea>
                      <br>
                      <input type="submit" value="enviar" class="bot">


                </form>
            </div>
        </article>
        <article>
            <div class="segundo">

                <h4>   Que hacemos</h4>
                <p>
                    Cuando hablamos de contenido tenemos que tener en cuenta todos los tipos de contenido que contiene el sitio web: textos, imágenes, videos, formularios… Estos contenidos estarán Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla optio placeat consequatur! Soluta reprehenderit optio vero in obcaecati inventore expedita totam, labore eius.
                </p>
              </div>

            <div class="ulti">
                <img src="../assets/images/mapaGoogle.png" alt="Ubicación" >
            </div>
        </article>
    </section>
    
</body>
<footer>
    <section class="fin">
        <p>CARLOS ANDRES MENDEZ, DISEÑO &#169 2025</p>
    </section>
</footer>
</html>