<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo_brush.png">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Nosotros</title>
</head>
<header>
    <h1>DISEÑO <span>MULTIMEDIA</span></h1>
    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
    </ul>
    </nav>
</header>
<body>
    <section  class="suscribir">
        <h3>Suscribete a nuestro boletín </h3>
        
        <form class="regi">
            <input type="text" placeholder="ingrese el Email" class="registro">
            <button >Suscribete</button>
        </form>
        </section>

        <section class="noso">
            <article >
            <div class="tros">
                <h4>NOSOTROS</h4>
                <p>
                    HTML es el lenguaje de marcado con el que rodeas contenido, para decirle a los navegadores acerca de los encabezados, listas, tablas, etc. CSS es el lenguaje de hoja de estilos con el cual estilas la página, para decirle a los navegadores que cambien el color, fuente, diseño y más. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit fuga praesentium molestias vitae laudantium itaque commodi quisquam mollitia nisi, dolores debitis qui facilis facere quo? Impedit nisi commodi inventore rerum.
                </p>
            </div>
            <div class="tros2">
                <p>
                    HTML (lenguaje de marcado de hipertexto) y CSS (hojas de estilo en cascada) son las tecnologías fundamentales para la creación de páginas web . HTML proporciona la estructura, mientras que CSS define el estilo y el diseño. HTML se utiliza junto con CSS y Javascript para diseñar páginas web Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo vero quod quia facilis voluptatem veniam accusantium assumenda, esse eos voluptatibus nobis odio facere magni necessitatibus eum. Dolorum repellendus quas incidunt?
                </p>
            </div>

            <div >
               <img src="../assets/images/891.jpg" alt="programando" class="compu">
            </div>
        </article>
            <article >
                <p>
                    Cuando hablamos de contenido tenemos que tener en cuenta todos los tipos de contenido que contiene el sitio web: textos, imágenes, videos, formularios… Estos contenidos estarán adaptados al público y la temática del sitio. Es lógico, si el objetivo es vender telas, que utilice muchas más imágenes que en una web de información de psicología.
                </p>
            </article>
        </section>
        
    
</body>
<footer>
    <section class="fin">
        <p>CARLOS ANDRES MENDEZ, DISEÑO &#169 2025</p>
    </section>
</footer>
</html>