<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo_brush.png">
    <link rel="stylesheet" href="../styles/index.css">
    <title>servicio</title>
</head>
<header>
    <h1>DISEÑO <span>MULTIMEDIA</span></h1>
    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
    </ul>
    </nav>
</header>
<body>
    <section  class="suscribir">
        <h3>Suscribete a nuestro boletín </h3>
        
        <form class="regi">
            <input type="text" placeholder="ingrese el Email" class="registro">
            <button >Suscribete</button>
        </form>
        </section>
        
    <section class="ser">
        <article>
            <div class="color" >
                <h3>Servicios</h3>
            </div>
            
            <div class="cios">
                <h4>Diseño Web</h4>
                <br>
                 <p>
                    El diseño de páginas web es la acción de planificar, diseñar, implementar y mantener la interfaz interactiva y funcional de cualquier sitio web, con los objetivos de transmitir fielmente la imagen de la empresa o marca y, a la vez, lograr una experiencia del usuario final agradable e intuitiva.
                    <br>
                    <br>

                    Precio : 500.000
                    precio: 400.0000
                 </p>
            </div>

            <div class="cios">
                <h4>Desarrollo Web</h4>
                <br>
                <p>
                    El desarrollo web es el proceso de crear y mantener sitios web, aplicaciones o software. Implica la planificación, diseño, programación y mantenimiento. Crear sitios web atractivos, funcionales y accesib Brindar información, servicios o productos a los usuarios e Interactuar con clientes y usuarios de manera más efectiva.
                    <br>
                    <br>

                    Precios desde: 1'000.000
                </p>
            </div>

            <div class="cios">
                <h4>Hosting web</h4>
                <br>
                <p>
                    El hosting es un servicio de alojamiento web que te permite almacenar los archivos de tu página y subirlos a Internet. Cuando alguien teclea el nombre de dominio de tu sitio web en su navegador, en realidad se está dirigiendo a un servidor específico: la unidad de almacenamiento digital de tu sitio web.
                    <br>
                    <br>
                    Precio: 500.000
                </p>
            </div>
        </article>

        <article>
            <div class="segundo">

                <h4>   Que hacemos</h4>
                <p>
                    Cuando hablamos de contenido tenemos que tener en cuenta todos los tipos de contenido que contiene el sitio web: textos, imágenes, videos, formularios… Estos contenidos estarán adaptados al público y la temática del sitio. Es lógico, si el objetivo es vender telas, que utilice muchas más imágenes que en una web de información de psicología.
                </p>
              </div>
        </article>
        
    </section>
    
</body>
<footer>
    <section class="fin">
        <p>CARLOS ANDRES MENDEZ, DISEÑO &#169 2025</p>
    </section>
</footer>
</html>